<div class="form-group" ng-class="{ 'has-error' : (PaymentForm.$submitted || PaymentForm.buyer_email.$touched) && (PaymentForm.buyer_email.$pristine || PaymentForm.buyer_email.$invalid) }"> <label class="col-md-3 col-sm-3 control-label" for="buyer_email">{{'Email'}}</label>
    <div class="col-md-5 col-sm-9"> <input name="buyer_email" ng-model="buyer.email" class="form-control" id="buyer_email" type="email" placeholder="Email" ng-required="true">
        <div ng-show="((PaymentForm.$submitted || PaymentForm.buyer_email.$touched) && (PaymentForm.buyer_email.$pristine || PaymentForm.buyer_email.$invalid))">
            <div class="help-block" ng-show="(PaymentForm.buyer_email.$error.required)">{{'Required'|translate}}</div>
            <div class="help-block" ng-show="(PaymentForm.buyer_email.$error.email)">{{'Enter Valid Email'|translate}}</div>
        </div>
    </div>
</div>
<div class="form-group" ng-class="{ 'has-error' : (PaymentForm.$submitted || PaymentForm.buyer_address.$touched) && (PaymentForm.buyer_address.$pristine || PaymentForm.buyer_address.$invalid) }"> <label class="col-md-3 col-sm-3 control-label" for="buyer_address">{{'Address'|translate}}</label>
    <div class="col-md-5 col-sm-9"> <input name="buyer_address" ng-model="buyer.address" class="form-control" id="buyer_address" type="text" ng-required="true" placeholder="Address">
        <div class="help-block" ng-show="(PaymentForm.$submitted || PaymentForm.buyer_address.$touched) && (PaymentForm.buyer_address.$pristine || PaymentForm.buyer_address.$invalid) && (PaymentForm.buyer_address.$error.required)">{{'Required'|translate}}</div>
    </div>
</div>
<div class="form-group" ng-class="{ 'has-error' : (PaymentForm.$submitted || PaymentForm.buyer_city.$touched) && (PaymentForm.buyer_city.$pristine || PaymentForm.buyer_city.$invalid) }"> <label class="col-md-3 col-sm-3 control-label" for="buyer_city">{{'City'|translate}}</label>
    <div class="col-md-5 col-sm-9"> <input name="buyer_city" id="buyer_city" class="form-control" ng-model="buyer.city" type="text" ng-required="true" placeholder="City">
        <div class="help-block" ng-show="(PaymentForm.$submitted || PaymentForm.buyer_city.$touched) && (PaymentForm.buyer_city.$pristine || PaymentForm.buyer_city.$invalid) &&(PaymentForm.buyer_city.$error.required)">{{'Required'|translate}}</div>
    </div>
</div>
<div class="form-group" ng-class="{ 'has-error' : (PaymentForm.$submitted || PaymentForm.buyer_state.$touched) && (PaymentForm.buyer_state.$pristine || PaymentForm.buyer_state.$invalid) }"> <label class="col-md-3 col-sm-3 control-label" for="buyer_state">{{'State'|translate}}</label>
    <div class="col-md-5 col-sm-9"> <input name="buyer_state" ng-model="buyer.state" class="form-control" id="buyer_state" type="text" ng-required="true" placeholder="State">
        <div class="help-block" ng-show="(PaymentForm.$submitted || PaymentForm.buyer_state.$touched) && (PaymentForm.buyer_state.$pristine || PaymentForm.buyer_state.$invalid) && (PaymentForm.buyer_state.$error.required)">{{'Required'|translate}}</div>
    </div>
</div>
<div class="form-group" ng-class="{ 'has-error' : (PaymentForm.$submitted || PaymentForm.buyer_country.$touched) && (PaymentForm.buyer_country.$pristine || PaymentForm.buyer_country.$invalid) }"> <label class="col-md-3 col-sm-3 control-label" for="buyer_country">{{'Country'|translate}}</label>
    <div class="col-md-5 col-sm-9"> <select name="buyer_country" id="buyer_country" class="form-control" ng-model="buyer.country" ng-options="country.iso2 as country.name for country in countries" ng-required="true">
                <option value="">Select</option>
            </select>
        <div class="help-block" ng-show="(PaymentForm.$submitted || PaymentForm.buyer_country.$touched) && (PaymentForm.buyer_country.$pristine || PaymentForm.buyer_country.$invalid) && (PaymentForm.buyer_country.$error.required)">{{'Required'|translate}}</div>
    </div>
</div>
<div class="form-group" ng-class="{ 'has-error' : (PaymentForm.$submitted || PaymentForm.buyer_zip_code.$touched) && (PaymentForm.buyer_zip_code.$pristine || PaymentForm.buyer_zip_code.$invalid) }"> <label class="col-md-3 col-sm-3 control-label" for="buyer_zip_code">{{'ZipCode'|translate}}</label>
    <div class="col-md-5 col-sm-9"> <input name="buyer_zip_code" ng-model="buyer.zip_code" class="form-control" id="buyer_zip_code" type="text" ng-required="true" placeholder="Zip Code">
        <div class="help-block" ng-show="(PaymentForm.$submitted || PaymentForm.buyer_zip_code.$touched) && (PaymentForm.buyer_zip_code.$pristine || PaymentForm.buyer_zip_code.$invalid)">
            <div class="help-block" ng-show="(PaymentForm.buyer_zip_code.$error.required)">{{'Required'|translate}}</div>
        </div>
    </div>
</div>
<div class="form-group" ng-class="{ 'has-error' : (PaymentForm.$submitted || PaymentForm.buyer_phone.$touched) && (PaymentForm.buyer_phone.$pristine || PaymentForm.buyer_phone.$invalid) }"> <label class="col-md-3 col-sm-3 control-label" for="buyer_phone">{{'Phone'|translate}}</label>
    <div class="col-md-5 col-sm-9"> <input name="buyer_phone" ng-model="buyer.phone" class="form-control" id="buyer_phone" type="text" ng-required="true" placeholder="Phone">
        <div class="help-block" ng-show="(PaymentForm.$submitted || PaymentForm.buyer_phone.$touched) && (PaymentForm.buyer_phone.$pristine || PaymentForm.buyer_phone.$invalid)">
            <div class="help-block" ng-show="(PaymentForm.buyer_phone.$error.required)">{{'Required'|translate}}</div>
        </div>
    </div>
</div>