<!-- Footer Start -->
<div class="section navbar-inverse">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <h5 class="fa-inverse">Company</h5>
                <ul class="list-unstyled">
                    <li> <a href="javascript:void(0);">About</a> </li>
                    <li> <a href="javascript:void(0);">Careers</a> </li>
                    <li> <a href="javascript:void(0);">Press</a> </li>
                    <li> <a href="javascript:void(0);">Blog</a> </li>
                    <li> <a href="javascript:void(0);">Advertising</a> </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="fa-inverse">Support</h5>
                <ul class="list-unstyled">
                    <li> <a href="javascript:void(0);">FAQ</a> </li>
                    <li> <a href="javascript:void(0);">Customer Service</a> </li>
                    <li> <a href="javascript:void(0);">Help</a> </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <h5 class="fa-inverse">Legal</h5>
                <ul class="list-unstyled">
                    <li> <a href="javascript:void(0);">Policies</a> </li>
                    <li> <a href="javascript:void(0);">Terms &amp; Privacy</a> </li>
                </ul>
            </div>
            <div class="col-sm-3">
                <ul class="list-unstyled">
                    <li> <select class="form-control">
										<option>English</option>
									</select> <br> </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center fa-inverse">© Maesure, Inc.</p>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
<!-- <div class="section navbar-inverse">
    <div class="container">
        <div class="row"> <br> <br>
            <pages></pages>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center fa-inverse">© Maesure Inc</p>
            </div>
        </div>
    </div>
</div>-->