<div>
    <div>
        <div class="modal-content">
            <!-- carousel-->
            <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner container no-pad">
                    <!-- first item -->
                    <div class="item active">
                        <div class="row">
                            <div class="col-md-8 col-sm-7 ">
                                <!--<span changepicture position={{viewphotos.photo_url}}></span>-->
                                <img ng-if="viewphotos.is_video == false && viewphotos.is_attachment_to_view == true" class="img-responsive no-pad" src="{{viewphotos.photo_url}}" alt="[Image: img]" />
                                <video id="video" ng-src="{{viewphotos.video_url}}" controls="true" ng-if="viewphotos.is_video == true && viewphotos.is_attachment_to_view == true" width="800" height="600"></video>
                             </div>
                            <div class="col-md-4 col-sm-5">
                                <div class="media">
                                    <a href="profile/{{viewphotos.user.id}}/{{viewphotos.username}}" class="media-left"> <img alt="[Image: Modal-user]" class="img-circle" ng-src="{{viewphotos.user_avatar_url}}" height="30" width="30"> </a>
                                    <div class="media-body"> <a href="profile/{{viewphotos.user.id}}/{{viewphotos.username}}"><span class="text-bold text-13 blackc">{{viewphotos.username}}</span> </a><a href="" ng-click="Login_func()" ng-show="!isAuth" class="pull-right btn btn-primary btn-lg text-10">{{'follow'|translate}}</a>                                        <a href="" ng-click="user_follow()" ng-show="!follow[viewphotos.user_id].isfollow && $root.isAuth && $root.user.id !== viewphotos.user_id" class="pull-right btn btn-primary btn-lg text-10">{{'follow'|translate}}</a>                                        <a href="" ng-click="user_unfollow(follow)" ng-show="follow[viewphotos.user_id].isfollow && $root.isAuth && $root.user.id !== viewphotos.user_id" class="pull-right btn btn-primary btn-lg text-10">{{'unfollow'|translate}}</a>                                        </div>
                                </div>
                                <div custom-scroll class="resp-carousel">
                                    <div class="clearfix">
                                        <p class="pull-left text-black text-bold">{{viewphotos.photo_like_count}} {{'likes'|translate}}</p>
                                        <p class="pull-left text-black col-sm-offset-1 text-bold">{{viewphotos.photo_comment_count}} {{'comments'|translate}}</p>
                                        <p class="pull-right text-muted" am-time-ago="viewphotos.created_at"></p>
                                    </div>
                                    <ul class="list-unstyled">
                                        <li>
                                            <h4 class="text-10 text-uppercase text-muted"> {{'description'|translate}}</h4>
                                            <p class="text-black" ng-bind-html="viewphotos.description"></p>
                                        </li>
                                        <li class="">
                                            <h4 class="text-10 text-muted text-uppercase">{{'tags'|translate}}</h4> <a href="search/{{phototag.photo_tag.id}}/{{phototag.photo_tag.slug}}" class={{phototag.label}} ng-repeat="phototag in viewphotos.photos_photo_tag">{{phototag.photo_tag.name}}</a>                                            </li>
                                        <li class="text-13">
                                            <h4 class="text-10 text-muted text-uppercase">{{'comments'|translate}}</h4>
                                            <p ng-repeat="comment in comments"><span class="text-bold">{{comment.user.username}}</span>&nbsp;<span ng-bind-html="comment.comment"></span></p>
                                        </li>
                                    </ul>
                                </div>
                                <div class="media" ng-show="isAuth">
                                    <a class="media-left  no-pad" href="" ng-click="photoLike(viewphotos)" ng-show="!viewphotos.is_like"> <i class="fa fa-heart-o fa-fw fa-2x"></i> </a>
                                    <a class="media-left  no-pad" href="" ng-click="photoUnLike(viewphotos)" ng-show="viewphotos.is_like"> <i class="fa fa-heart fa-fw fa-2x text-danger"></i> </a>
                                    <div class="media-body">
                                        <form class="form-horizontal" ng-submit="saveComment()">
                                            <div class="col-sm-9 no-pad"> <input type="text" placeholder="{{'Add a comment'|translate}}…" class="pull-left form-control" ng-model="usercomment.comment"> </div> <button type="button" ng-click="openFlagModal(viewphotos)" class="pull-right btn btn-link btn-lg text-10 col-sm-3"> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> </button>                                            </form>
                                    </div>
                                </div>
                                <!--------Auth---->
                                <div class="media" ng-show="!isAuth"> <a href="" ng-click="Login_func()" class="pull-left text-black text-bold">{{'Log in'|translate}} </a>
                                    <p class="pull-left text-black col-sm-offset-0 text-bold">to like and comment</p>
                                    <div class="media-body row">
                                        <form class="form-horizontal"> <button type="button" ng-click="openFlagModal(viewphotos)" class="pull-right btn btn-link btn-lg text-10"> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> <i class="fa fa-circle-o"></i> </button> </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Controls -->
                <a class="left carousel-control" href="" ng-if="data.prev_id !== -1" ng-click="slide_change('prev')" data-slide="prev"> <span class="fa fa-angle-left fa-3x"></span> </a>
                <a class="right carousel-control" href="" ng-if="data.next_id !== -1" ng-click="slide_change('next')" data-slide="next"> <span class="fa fa-angle-right fa-3x"></span> </a>
            </div>
        </div>
    </div>
</div> <button type="button" class="close" ng-click="ModelCancel()" data-dismiss="modal">
                <img src="images/close-img-white.png" alt="[Image: Close-img-white]" width="35" height="35">
            </button>