<ul class="list-unstyled settings-menu nav-stacked ">
    <li class="{{profile_tab}}"> <a href="users/settings">{{'Profile' |translate}}</a> </li>
    <li class="{{password_tab}}"> <a href="users/change_password">{{'Password' |translate}}</a> </li>
    <li class="{{social_tab}}"> <a href="user/social_media">{{'Social Media' |translate}}</a> </li>
    <li class="{{notification_tab}}"> <a href="user/notification">{{'Notifications' |translate}}</a> </li>
    <li class="{{privacy_tab}}"> <a href="user/privacy">{{'Privacy' |translate}}</a> </li>
</ul>