<div class="settings" ng-controller='UsersChangePasswordCtrl'>
    <div class="container">
        <div class="row">
            <div class="col-sm-3 left-side">
                <div class="white-bg" ng-include="'views/users_account_left_side_menu.html'"></div>
            </div>
            <div class="col-sm-9 tab-content">
                <!-- password -->
                <div class="profile tab-pane  active" id="password">
                    <form class="profile-form" role="form" name="userChangePassword" ng-submit="save()" novalidate>
                        <div class="form-group" ng-class="{ 'has-error' : ((userChangePassword.$submitted || userChangePassword.password.$touched) && (userChangePassword.password.$pristine || userChangePassword.password.$invalid)) || user.oldPassErr }"> <label for="inputPasswordCurrent" class="control-label">{{'current password'|translate}}</label> <input type="password" name="password" ng-model="changePassword.password" class="form-control mbtm-smspace" id="inputPasswordCurrent"
                                placeholder="" autocomplete="off" required>
                            <div ng-show="((userChangePassword.$submitted || userChangePassword.password.$touched) && (userChangePassword.password.$pristine || userChangePassword.password.$invalid))"> <span class="help-block" ng-show="(userChangePassword.password.$error.required)">
                                    {{'Enter Current Password' | translate}}
                                </span> <span class="help-block" ng-show="(userChangePassword.password.$error.minlength)">
                                    {{'Minimum length is' | translate}} 6
                                </span> </div>
                        </div>
                        <div class="form-group has-feedback" ng-class="{ 'has-error' : ((userChangePassword.$submitted || userChangePassword.new_password.$touched) && (userChangePassword.new_password.$pristine || userChangePassword.new_password.$invalid))}">
                        <label for="inputChangePassword" class="pull-left">{{'new password'|translate}}</label> <span class="pull-right text-muted text-uppercase">{{'min 6 characters'|translate}}</span> <input type="{{inputType}}" class="form-control mbtm-smspace"
                                name="new_password" ng-model="changePassword.new_password" id="inputChangePassword" placeholder="" ng-minlength="6" ng-maxlength="20" required> <span class="form-control-feedback"><i class="fa fa-eye-slash grayc" ng-click="hideShowPassword()" ></i></span>
                            <div ng-show="((userChangePassword.$submitted || userChangePassword.new_password.$touched) && (userChangePassword.new_password.$pristine || userChangePassword.new_password.$invalid))"> <span class="help-block" ng-show="(userChangePassword.new_password.$error.required)">{{ 'Enter New Password' | translate }}</span> <span class="help-block" ng-show="(userChangePassword.new_password.$error.minlength)">{{ 'Minimum length is 6' | translate }}</span>                                <span class="help-block" ng-show="(userChangePassword.new_password.$error.maxlength)">{{ 'Maximum length is 20' | translate }}</span> </div>
                        </div> <br> <button type="submit" class="btn btn-primary btn-lg">{{'Change password'| translate }}</button> <br> <br> <br> </form>
                </div>
            </div>
        </div>
    </div>
</div>